.market-list {
    @include page-header;

    font-family: 'roboto-light';
}

.selectors {
    text-align: center;
    margin-top: 10rem;
    display: flex;

    .selector {
        width: 20%;

        label {
            font-size: 2rem;
            margin-right: 1rem;
            // font-family: 'roboto-thin';
            color: #424242;
            font-weight: bold;
        }

        select {
            width: 25%;
            font-size: 1.2rem;
            // font-family: 'roboto-light';
            height: 22px;
        }
    }

}

.contain-table {
    overflow-x: auto;
    
    .customers {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10rem;
    
        td, th {
            border: 1px solid #ddd;
            padding: 8px;
            font-family: 'roboto-thin';
            font-weight: bold;
        }
           
        tr {
            font-size: 1.5rem;
    
            &:nth-child(even){
                background-color: #f2f2f2;
            }
            
            &:hover {
                background-color: #dddddd85;
                
    
            }
        }
    
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #577bf9;
            color: white;
            font-size: 1.5rem;
        }
    
      }
}

